---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Now from "../components/Now.astro";
import Projects from "../components/Projects.astro";
import Art from "../components/Art.astro";
import Writing from "../components/Writing.astro";
import Values from "../components/Values.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <main id="main">
    <Hero />
    <Now />
    <Projects />
    <Art />
    <Writing />
    <Values />
    <Contact />
  </main>
  <Footer />
</Base>
